<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/test.css" type="text/css">
</head>

<body>
<form class="myForm">
    <fieldset id="content">
        <div>
            <legend class="my_legend">Test Fieldset</legend>
        </div>
        <div id="name">
            <label for="customer_name">Name </label>
            <input type="text" name="customer_name" id="customer_name" required>
        </div>
        <div id="email">
            <label for="customer_email">Email </label>
            <input type="email" name="email_address" id="customer_email">
        </div>
        <div id="phone">
            <label for="customer_phone">Phone </label>
            <input type="tel" name="phone" id="customer_phone">
        </div>
        <div id="addr">
            <label for="customer_addr">address </label>
            <input type="text" name="customer_name" id="customer_addr" required>
        </div>
        <div id="hobby">
            <label for="customer_hobby">hobby </label>
            <input type="email" name="email_address" id="customer_hobby">
        </div>
        <div id="resume">
            <label for="customer_resume">resume </label>
            <input type="tel" name="phone" id="customer_resume">
        </div>
    </fieldset>
</form>
</body>


</html>