{% extends "base.html" %}

{% block flash_message %}
{% for message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-warning fade show" role="alert" id="msg">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message[1] }}
</div>
{% endfor %}
{% endblock flash_message %}

{% block navButton %}
<div class="nav_menu">
    <a href="{{ url_for('index') }}" class="active navLink">首页</a>
    <a href="{{ url_for('collectData') }}" class="navLink" id="data-collect">数据收集</a>
    <a href="{{ url_for('clinicView') }}" class="navLink" id="data-clinic" style="background-color: red">诊断分析</a>
</div>
{% endblock navButton %}

{% block content %}
<form method="post" id="patient_form" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <fieldset class="patient-fieldset">
        <legend id="patient-info">病员信息</legend>
        <div class="patient_content">
            <div class="row justify-content-between r">
                <div class="col">
                    {{ form.pNum.label }}
                    {{ form.pNum }}
                </div>
                <div class="col">
                    {{ form.pName.label }}
                    {{ form.pName }}
                </div>
                <div class="col">
                    {{ form.pSex.label }}
                    {{ form.pSex }}
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col">
                    {{ form.pid.label }}
                    {{ form.pid }}
                </div>
                <div class="col">
                    {{ form.pPhone.label }}
                    {{ form.pPhone }}
                </div>
                <div class="col">
                    {{ form.pAddr.label }}
                    {{ form.pAddr }}
                </div>
            </div>
        </div>
    </fieldset>
    {{ form.submit }}
</form>


<div class="row">
    {% for file in files %}
    <div class="column">
        <img src="../uploads/{{ file }}" style="width:100%" onclick="openModal();currentSlide(1)"
             class="hover-shadow cursor thumbnail">
    </div>
    {% endfor %}
</div>



<br>

<!--<div id="myModal" class="modal">-->

<!--    <div class="modal-content">-->

<!--        <div class="mySlides">-->
<!--            <div class="numbertext">1 / 5</div>-->
<!--            <img src="./imgs/1.jpg" style="width:100%">-->
<!--        </div>-->

<!--        <div class="mySlides">-->
<!--            <div class="numbertext">2 / 5</div>-->
<!--            <img src="./imgs/2.jpg" style="width:100%">-->
<!--        </div>-->

<!--        <div class="mySlides">-->
<!--            <div class="numbertext">3 / 5</div>-->
<!--            <img src="./imgs/3.jpg" style="width:100%">-->
<!--        </div>-->

<!--        <div class="mySlides">-->
<!--            <div class="numbertext">4 / 5</div>-->
<!--            <img src="./imgs/4.jpg" style="width:100%">-->
<!--        </div>-->
<!--        <div class="mySlides">-->
<!--            <div class="numbertext">5 / 5</div>-->
<!--            <img src="./imgs/5.jpg" style="width:100%">-->
<!--        </div>-->

<!--        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
<!--        <a class="next" onclick="plusSlides(1)">&#10095;</a>-->

<!--    </div>-->
<!--    <p class="close cursor" onclick="closeModal()">&times;</p>-->
<!--</div>-->


{% endblock content %}
