{% extends "base.html" %}

{% block flash_message %}
{% for message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-warning fade show" role="alert" id="msg">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message[1] }}
</div>
{% endfor %}
{% endblock flash_message %}

{% block navButton %}
<div class="nav_menu">
    <a href="{{ url_for('index') }}" class="active navLink">首页</a>
    <a href="{{ url_for('collectData') }}" class="navLink" id="data-collect">数据收集</a>
    <a href="{{ url_for('clinicView') }}" class="navLink" id="data-clinic" style="background-color: red">图像检查</a>
</div>
{% endblock navButton %}

{% block content %}
<form method="post" id="patient_form" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <fieldset id="patient-fieldset">
        <legend id="patient-info">病员信息</legend>
        <div class="patient_content">
            <div class="row justify-content-between">
                <div class="col">
                    {{ form.pNum.label }}
                    {{ form.pNum }}
                </div>
                <div class="col">
                    {{ form.pName.label }}
                    {{ form.pName }}
                </div>
                <div class="col">
                    {{ form.pSex.label }}
                    {{ form.pSex }}
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col">
                    {{ form.pid.label }}
                    {{ form.pid }}
                </div>
                <div class="col">
                    {{ form.pPhone.label }}
                    {{ form.pPhone }}
                </div>
                <div class="col">
                    {{ form.pAddr.label }}
                    {{ form.pAddr }}
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset id="init-cli-fieldset">
        <legend id="init-clinic">初次评估意见</legend>
        <div id="init-cli">
           {{ form.initClinic(cols=130, rows=5) }}
        </div>
    </fieldset>
    {{ form.submit }}
</form>

<br>

<div class="row">
    {% for file in files %}
    <div class="column">
        <img src="{{ url_for('getFile', fileFolder=fileFolder,
        fileName=file) }}" style="width:100%" onclick="openModal();currentSlide('{{ loop.index }}')"
             class="hover-shadow cursor thumbnail">
    </div>
    {% endfor %}
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        {% for file in files %}
        <div class="mySlides">
            <div class="numbertext">{{ loop.index }} / {{ loop.length }}</div>
            <img src="{{ url_for('getFile', fileFolder=fileFolder, fileName=file) }}" style="width:100%">
        </div>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <p class="close cursor" onclick="closeModal()">&times;</p>
</div>

<br>
<h1><a href="{{ url_for('docWrite') }}">医生诊断</a></h1>

{% endblock content %}
