{% extends "base.html" %}

{% block head %}
{{ super() }}
{{ dropzone.load() }}
{{ dropzone.config(max_files=10, timeout=10000, default_message='"点击上传或拖放图像文件至此"') }}
{{ dropzone.style("border: 2px dashed #0087F7; margin: 0 35px; min-height: 300px;") }}
{% endblock %}

{% block flash_message %}
{% for message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-warning fade show" role="alert" id="msg">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message[1] }}
</div>
{% endfor %}
{% endblock flash_message %}
{% block content %}

<form method="post" id="patient_form">
    <fieldset class="patient-fieldset">
        <legend id="patient-info">病员信息</legend>
        {{ form.csrf_token }}
        <div class="patient_content">
            <div class="row justify-content-between r">
                <div class="col">
                    {{ form.patientNum.label }}
                    {{ form.patientNum }}
                </div>
                <div class="col">
                    {{ form.patientName.label }}
                    {{ form.patientName }}
                </div>
                <div class="col">
                    {{ form.patientSex.label }}
                    {{ form.patientSex }}
                </div>
            </div>
            <!--            <div class="w-100"></div>-->
            <div class="row justify-content-between">
                <div class="col">
                    {{ form.patientID.label }}
                    {{ form.patientID }}
                </div>
                <div class="col">
                    {{ form.patientPhone.label }}
                    {{ form.patientPhone }}
                </div>
                <div class="col">
                    {{ form.patientAddr.label }}
                    {{ form.patientAddr }}
                </div>
            </div>
            <div class="col">
                {{ form.patientSearch }}
            </div>
        </div>
    </fieldset>
</form>
<br>

<div id="data-collection">
    <div class="image-collection">
        <p id="drop-image">热成像图上传</p>
        {{ dropzone.create(action_view="collectData") }}
    </div>
    <div class="init-clinic">
        <fieldset class="clinic-fieldset">
            <legend id="clinic-title">初次评估</legend>
            <textarea id="clinic-content" rows="4" cols="60"></textarea>
            <br>
            <button>确定</button>
        </fieldset>
    </div>
</div>


{% endblock content %}
