{% extends "base.html" %}

{% block flash_message %}
{% for message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-warning fade show" role="alert" id="msg">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message[1] }}
</div>
{% endfor %}
{% endblock flash_message %}

{% block content %}

{{ p_num }}
<form method="post" id="patient_form">
    <fieldset class="patient_fieldset">
        <legend class="patient_legend">病员信息</legend>
        {{ form.csrf_token }}
        <div class="patient_content">
            <div class="row justify-content-between r">
                <div class="col">
                    {{ form.patientNum.label }}
                    {{ form.patientNum }}
                </div>
                <div class="col">
                    {{ form.patientName.label }}
                    {{ form.patientName }}
                </div>
                <div class="col">
                    {{ form.patientSex.label }}
                    {{ form.patientSex }}
                </div>
            </div>
            <!--            <div class="w-100"></div>-->
            <div class="row justify-content-between">
                <div class="col">
                    {{ form.patientID.label }}
                    {{ form.patientID }}
                </div>
                <div class="col">
                    {{ form.patientPhone.label }}
                    {{ form.patientPhone }}
                </div>
                <div class="col">
                    {{ form.patientAddr.label }}
                    {{ form.patientAddr }}
                </div>
            </div>
            <div class="col">
                {{ form.patientSearch }}
            </div>
        </div>
    </fieldset>
</form>

<br>

<form method="post" id="clinic_form">
    <fieldset class="clinic_fieldset">
        <legend class="clinic_legend">数据收集</legend>
        <textarea name="" id="testText" cols="119" rows="10"></textarea><br>
        <button type="submit">上传</button>
    </fieldset>
</form>

<button onclick="window.print()">Print this page</button>

<div style="float: left;">Left Divddddddddddddddddddddddddddddddddddddddddddddd</div>
<div style="float: right;">Right Divddddddddddddddddddddddddddddddddddddddddddddddddd</div>

{% endblock content %}
