.program_title {
    text-align: justify;
    font-size: 2.4em;
    color: #180638;
    font-weight: bold;
}

#datetime {
    color: #180638;
    font-weight: bold;
}


/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #DDCA8A;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#collect {
    background-color: #41A290;
}

#clinic {
    background-color: #3B5180;
}

.navbar {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.main {
    margin-left: 100px;
    margin-right: 100px;
}

form fieldset legend {
    color: #180638;
    font-size: 20px;
    width: auto;
    margin: 0 auto;
    /*padding: 50px;*/
}

.fieldset_collect {
    border: solid thin;
    color: black;
    width: auto;
    margin: 0 auto;
}

/* search and store patient data */
#patient_info_query {
    width: 50px;
    height: 40px;
    /* Center horizontally*/
    margin: 0 auto;
}


/* section for data collect and initial clinic record */

/* Test form for data collection*/
.fieldset_frame {
    border: solid thin;
    color: black;
    width: auto;
    margin: 0 auto;
}

fieldset legend {
    display: block;
    margin-left: 20px;
}






/* footer*/
footer {
    font-size: 13px;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 25px;
    text-align: center;
    padding: 10px;
}



