.program_title {
    text-align: justify;
    font-size: 2.4em;
    color: #180638;
    font-weight: bold;
}

#datetime {
    color: #180638;
    font-weight: bold;
}


/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #DDCA8A;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#collect {
    background-color: #41A290;
}

#clinic {
    background-color: #3B5180;
}

.navbar {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.main {
    margin-left: 100px;
    margin-right: 100px;
}

form fieldset legend {
    color: #180638;
    font-size: 30px;
    width: auto;
    margin: 0 auto;
    /*padding: 50px;*/
}

.fieldset_collect {
    border: solid thin;
    color: black;
    width: auto;
    margin: 0 auto;
}

/* submit collect*/
#submit_collect {
    width: 50px;
    height: 40px;
    /* Center horizontally*/
    margin: 0 auto;
}

/* display table*/
/*.display-table{*/
/*    display: table;*/
/*    margin-left: 100px;*/
/*}*/

/*.display-row{*/
/*    display: table-row;*/
/*}*/

/*.display-cell{*/
/*    display: table-cell;*/
/*}*/


/* footer*/
footer {
    font-size: 13px;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 25px;
    text-align: center;
    padding: 10px;

}

