/* title */
.navbar {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.program_title {
    text-align: justify;
    font-size: 2.4em;
    color: #180638;
    font-weight: bold;
}

#datetime {
    color: #180638;
    font-weight: bold;
}

/* nav nav-menu */
.nav_menu {
    background-color: #3F74BA;
    margin-left: 100px;
    margin-right: 100px;
    color: #180638;
    overflow: hidden;
}

.nav_menu a.active {
    background-color: #47BA7C;
}

.nav_menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 100px 14px 100px;
}

.nav_menu a:hover {
    background-color: #DCDCCA;
}


/* main content */
.container {
    margin-left: 100px;
    margin-right: 100px;
}

.collect_fieldset {
    border: solid thin;
    color: black;
    width: auto;
    margin: 0 auto;
}

.collect_fieldset_legend {
    color: #180638;
    font-size: 20px;
    width: auto;
    margin: 0 auto;
    padding: 5px 25px 5px 25px;
}

/* search and store patient data */
#patient_info_query {
    width: 50px;
    height: 40px;
    /* Center horizontally*/
    margin: 0 auto;
}


/* section for data collect and initial clinic record */

/* Test form for data collection*/
.fieldset_frame {
    border: solid thin;
    color: black;
    width: auto;
    margin: 0 auto;
}


#testText {
    width: auto;

}


/* footer*/
footer {
    font-size: 13px;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 25px;
    text-align: center;
    padding: 10px;
}



