/* title */
.navbar {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.program_title {
    text-align: justify;
    font-size: 2.4em;
    color: #180638;
    font-weight: bold;
}

#datetime {
    color: #180638;
    font-weight: bold;
}

/* nav nav-menu */
.nav_menu {
    background-color: #3F74BA;
    margin-left: 100px;
    margin-right: 100px;
    color: #180638;
    overflow: hidden;
}

.nav_menu a.active {
    background-color: #47BA7C;
}

.nav_menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 100px 14px 100px;
}

.nav_menu a:hover {
    background-color: #DCDCCA;
}

.alert {
    padding: 0 0 20 0;
    display: block;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/* Hide alert with css*/
#msg {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        background: none;
        font-weight: unset;
        font-size: 1px;
        padding: 0 0 0 0;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
        background: none;
        font-weight: unset;
        font-size: 1px;
        padding: 0 0 0 0
    }
}


/* main content */
.main {
    margin-left: 100px;
    margin-right: 100px;
}

/*.alert_info {*/
/*    width: 100%;*/
/*    !*margin-left: 100px;*!*/
/*    !*margin-right: 100px;*!*/
/*    padding: 0.75rem 1.25rem;*/
/*    margin-bottom: 1rem;*/
/*    border: 1px solid transparent;*/
/*    border-radius: 0.25rem;*/
/*    color: #004085;*/
/*    background-color: #cce5ff;*/
/*    border-color: #b8daff;*/

/*}*/

/* collect page content*/
#patient_form {
}

#clinic_form {
}

.patient_fieldset {
    border: solid thin;
    color: black;
    width: auto;
    margin: 0 auto;
    padding: 10px 2px 15px 2px;
}

.clinic_fieldset {
    border: solid thin;
    color: black;
    width: auto;
    margin: 0 auto;
    padding: 10px 2px 15px 2px;
}

.patient_legend {
    color: #180638;
    font-size: 20px;
    width: auto;
    margin: 0 auto;
    padding: 5px 25px 5px 25px;
}

.clinic_legend {
    color: #180638;
    font-size: 20px;
    width: auto;
    margin: 0 auto;
    padding: 5px 25px 5px 25px;
}

.col {
    padding-left: 50px;
}

/* search and store patient data */
#patient_info_query {
    width: 50px;
    height: 40px;
    /* Center horizontally*/
    margin: 0 auto;
}


/* section for data collect and initial clinic record */
#data-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-gap: 10px;
    align-items: center;
    /*background-color: beige;*/
    /*border-color: black;*/
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*padding: 5px 10px 5px 10px;*/
}

/*#data-collection > div {*/
/*    padding: 20px;*/
/*    font-size: 4vw;*/
/*    color: white;*/
/*}*/

#drop-image {
    font-size: 35px;
    font-weight: bold;
    padding: 20px 0 0 0;
    text-align: center;
}

.image-collection {
    /*background: orangered;*/
    height: 100%;
    width: auto;
    border-color: #C8EBD5;
    border-style: solid;
    border-width: 2px;
}

.init-clinic {
    /*background: yellowgreen;*/
    height: 100%;
    width: auto;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

/*body {*/
/*    margin: 0;*/
/*}*/


/* footer*/
footer {
    font-size: 13px;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 25px;
    text-align: center;
    padding: 10px;
}



