/* title */
.navbar {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.program_title {
    text-align: justify;
    font-size: 2.4em;
    color: #180638;
    font-weight: bold;
}

#datetime {
    color: #180638;
    font-weight: bold;
}

/* nav nav-menu */
.nav_menu {
    background-color: #3F74BA;
    margin-left: 100px;
    margin-right: 100px;
    color: #180638;
    overflow: hidden;
}

.nav_menu a.active {
    background-color: #47BA7C;
}

.nav_menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 100px 14px 100px;
}

.nav_menu a:hover {
    background-color: #DCDCCA;
}

.alert {
    padding: 0 0 20px 0;
    display: block;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

/* Hide alert with css*/
#msg {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        background: none;
        font-weight: unset;
        font-size: 1px;
        padding: 0 0 0 0;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
        background: none;
        font-weight: unset;
        font-size: 1px;
        padding: 0 0 0 0
    }
}


/* main content */
.main {
    margin-left: 100px;
    margin-right: 100px;
}


/* patient list*/





/* patient data input*/

.patient-fieldset {
    border: solid thin;
    color: black;
    width: auto;
    margin: 0 auto;
    padding: 10px 2px 15px 2px;
}



#patient-info {
    color: #180638;
    font-size: 20px;
    width: auto;
    margin: 0 auto;
    padding: 5px 25px 5px 25px;
}

.clinic_legend {
    color: #180638;
    font-size: 20px;
    width: auto;
    margin: 0 auto;
    padding: 5px 25px 5px 25px;
}

.col {
    padding-left: 50px;
}


/* patient image upload */





/* write init clinic*/

/* footer*/
footer {
    font-size: 13px;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 25px;
    text-align: center;
    padding: 10px;
}



/* patient image viewer */
body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 20%;
    padding: 5px 10px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 0;
    width: 40%;
    height: 20%;
    /*max-width: 1200px;*/
}

/* The Close Button */
.close {
    color: white;
    font-size: 66px;
    font-weight: bold;
    /*text-align: center;*/
    position: absolute;
    top: 1px;
    right: 50px;
    /*margin: 0 auto;*/

}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: 250px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 10px;
    width: 50%;
    height: 200px;
    object-fit: cover;

}

/* erros */
.text-center{
    font-size: 150px;
}