<!DOCTYPE html>
<html lang="en">
<head>
    {# head #}
    {% block head %}
    <meta charset="UTF-8">
    <title>
        {% block title %} Template - Title {% endblock %}
    </title>
    {# page icon #}
    <link rel="icon" type="image/x-icon"
          href="{{ url_for('static', filename='robot.png') }}">

    {# css #}
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% endblock %}

    {% endblock %}
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('test') }}">&rarr; Test</a></li>
    </ul>
</nav>
<main>
    {% block content %} {% endblock %}
</main>
<footer>
    {% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}
</footer>
</body>
</html>