<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>
        {% block title %}
        红外热成像数据收集与分析
        {% endblock %}
    </title>
    <link rel="icon" href="{{ url_for('static', filename='xuan.png') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/%s.min.css' % request.cookies.get('theme', 'perfect_blue')) }}"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    {% endblock head %}
</head>
<body>
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="nav navbar-nav">
        <img src="{{ url_for('static', filename='icon.png')}}"
             alt="Main Icon" width="100" height="60">
    </div>
    <p class="program_title">红外热成像数据收集与分析V1.0</p>
    <div class="nav navbar-nav ml-auto" id="datetime"></div>
</nav>
{% endblock nav %}

{% block main %}
<div class="main">
    <button class="tablink" onclick="openPage('collect', this, '#337C4A')" id="defaultOpen">数据收集</button>
    <button class="tablink" onclick="openPage('clinic', this, '#3B5180')">诊断分析</button>

    <div id="collect" class="tabcontent">
        <h1>Test</h1>
        {%  block collect %}{% endblock %}
    </div>

    <div id="clinic" class="tabcontent">
        <h1>Test</h1>
        {% block clinic %}{% endblock %}
    </div>
</div>
{% endblock main %}

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>