{% extends "base.html" %}

{% block collect %}

<form method="get">
    <fieldset class="fieldset_collect">
        <legend>病员信息</legend>
        {{ form.csrf_token }}
        <div class="container">
            <div class="row">
                <div class="col">
                    {{ form.patientNum.label }}
                    {{ form.patientNum }}
                </div>
                <div class="col">
                    {{ form.patientName.label }}
                    {{ form.patientName }}
                </div>
                <div class="col">
                    {{ form.patientSex.label }}
                    {{ form.patientSex }}
                </div>
                <div class="w-100"></div>
                <div class="col">
                    {{ form.patientID.label }}
                    {{ form.patientID }}
                </div>
                <div class="col">
                    {{ form.patientPhone.label }}
                    {{ form.patientPhone }}
                </div>
                <div class="col">
                    {{ form.patientAddr.label }}
                    {{ form.patientAddr }}
                </div>
            </div>
            <div id="submit_collect">
                {{ form.patientSearch }}
            </div>
        </div>
    </fieldset>
</form>


<section>
    <div id="left">
        <form method="post">
            <fieldset class="fieldset_frame">
                <legend id="left_title">数据收集</legend>
                The World Wide Fund for Nature (WWF) is an international organization working on issues regarding the conservation, research and restoration of the environment, formerly named the World Wildlife Fund. WWF was founded in 1961.
                The World Wide Fund for Nature (WWF) is an international organization working on issues regarding the conservation, research and restoration of the environment, formerly named the World Wildlife Fund. WWF was founded in 1961.
                The World Wide Fund for Nature (WWF) is an international organization working on issues regarding the conservation, research and restoration of the environment, formerly named the World Wildlife Fund. WWF was founded in 1961.
            </fieldset>
        </form>
    </div>
    <div id="right">
        <form method="post">
            <fieldset class="fieldset_frame">
                <legend id="right_title">初次诊断</legend>
                <textarea id="first_clinic"></textarea>
            </fieldset>
        </form>
    </div>
</section>




{% endblock %}
