{% extends "base.html" %}

{% block collect %}
<!--<form method="get">-->
<!--    <fieldset class="field-set-collect">-->
<!--        <legend>病员信息</legend>-->
<!--        {{ form.csrf_token }}-->
<!--        <div class="display-table">-->
<!--            <div class="display-row">-->
<!--                <div class="display-cell">-->
<!--                    {{ form.patientNum.label }}-->
<!--                    {{ form.patientNum }}-->
<!--                    {{ form.patientName.label }}-->
<!--                    {{ form.patientName }}-->
<!--                    {{ form.patientSex.label }}-->
<!--                    {{ form.patientSex }}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="display-row">-->
<!--                <div class="display-cell">-->
<!--                    {{ form.patientID.label }}-->
<!--                    {{ form.patientID }}-->
<!--                    {{ form.patientPhone.label }}-->
<!--                    {{ form.patientPhone }}-->
<!--                    {{ form.patientAddr.label }}-->
<!--                    {{ form.patientAddr }}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div id="submit-collect">-->
<!--            {{ form.patientSearch }}-->
<!--        </div>-->
<!--    </fieldset>-->
<!--</form>-->

<form method="get">
    <fieldset class="fieldset_collect">
        <legend>病员信息</legend>
        {{ form.csrf_token }}
        <div class="container">
            <div class="row">
                <div class="col">
                    {{ form.patientNum.label }}
                    {{ form.patientNum }}
                </div>
                <div class="col">
                    {{ form.patientName.label }}
                    {{ form.patientName }}
                </div>
                <div class="col">
                    {{ form.patientSex.label }}
                    {{ form.patientSex }}
                </div>
                <div class="w-100"></div>
                <div class="col">
                    {{ form.patientID.label }}
                    {{ form.patientID }}
                </div>
                <div class="col">
                    {{ form.patientPhone.label }}
                    {{ form.patientPhone }}
                </div>
                <div class="col">
                    {{ form.patientAddr.label }}
                    {{ form.patientAddr }}
                </div>
            </div>
            <div id="submit_collect">
                {{ form.patientSearch }}
            </div>
        </div>
    </fieldset>
</form>


<!--<section style="width: 100%;">-->
<!--   <div id="one">-->
<!--      <fieldset style="border: solid; border-width: thin; height: 200px; border-color: #a8a8a8;">-->
<!--         <legend id="Legend10" runat="server" visible="true" style="margin-bottom: 0px; font-size: 12px;-->
<!--         font-weight: bold; color: #1f497d;">&nbsp;&nbsp; Project Summary &nbsp;&nbsp;</legend>-->
<!--         <div style="margin-bottom: 10px; margin-left: 10px;">-->
<!--         <asp:Table ID="table10" runat="server" CssClass="labels">-->
<!--            <asp:TableRow>-->
<!--               <asp:TableCell Style="width: 10%;">-->
<!--                  Project ID:-->
<!--                  <asp:TextBox runat="server" Width="25px" Height="23px"></asp:TextBox>-->
<!--               </asp:TableCell>-->
<!--               <asp:TableCell Style="width: 40%;">-->
<!--                  Project Name:<sup style="color:red; font-size:10pt;">*q</sup>-->
<!--                  <asp:TextBox runat="server" Width="90px" Height="23px"></asp:TextBox>-->
<!--               </asp:TableCell>-->
<!--            </asp:TableRow>-->
<!--            <asp:TableRow>-->
<!--               <asp:TableCell Style="width: 10%;">-->
<!--                  Project ID:-->
<!--                  <asp:TextBox runat="server" Width="25px" Height="23px"></asp:TextBox>-->
<!--               </asp:TableCell>-->
<!--               <asp:TableCell Style="width: 40%;">-->
<!--                  Project Name:<sup style="color:red; font-size:10pt;">*q</sup>-->
<!--                  <asp:TextBox runat="server" Width="90px" Height="23px"></asp:TextBox>-->
<!--               </asp:TableCell>-->
<!--            </asp:TableRow>-->
<!--         </asp:Table>-->
<!--         </div>-->
<!--      </fieldset>-->
<!--   </div>-->
<!--   <div id="two">-->
<!--      <fieldset style="border: solid; border-width: thin; height: 200px; border-color: #a8a8a8;">-->
<!--         <legend id="Legend5" runat="server" visible="true" style="margin-bottom: 0px; font-size: 12px; font-weight: bold; color: #1f497d;">a</legend>-->
<!--         <div style="margin-bottom: 10px; margin-left: 10px;">-->
<!--            <asp:Table ID="table11" runat="server" CssClass="labels">-->
<!--               <asp:TableRow>-->
<!--                  <asp:TableCell Style="width: 10%;">-->
<!--                     Project ID:-->
<!--                     <asp:TextBox runat="server" Width="25px" Height="23px"></asp:TextBox>-->
<!--                  </asp:TableCell>-->
<!--                  <asp:TableCell Style="width: 40%;">-->
<!--                     Project Name:<sup style="color:red; font-size:10pt;">*q</sup>-->
<!--                     <asp:TextBox runat="server" Width="90px" Height="23px"></asp:TextBox>-->
<!--                  </asp:TableCell>-->
<!--               </asp:TableRow>-->
<!--               <asp:TableRow>-->
<!--                  <asp:TableCell Style="width: 10%;">-->
<!--                     Project ID:-->
<!--                     <asp:TextBox runat="server" Width="25px" Height="23px"></asp:TextBox>-->
<!--                  </asp:TableCell>-->
<!--                  <asp:TableCell Style="width: 40%;">-->
<!--                     Project Name:<sup style="color:red; font-size:10pt;">*q</sup>-->
<!--                     <asp:TextBox runat="server" Width="90px" Height="23px"></asp:TextBox>-->
<!--                  </asp:TableCell>-->
<!--               </asp:TableRow>-->
<!--            </asp:Table>-->
<!--         </div>-->
<!--      </fieldset>-->
<!--   </div>-->
<!--</section>-->



{% endblock %}
